cn2an>=0.5.23
kaldi-io>=0.9.8
kaldi-native-fbank>=1.15
kaldiio>=2.18.0
lhotse>=1.31.0
lightning
jsonargparse[signatures]
numpy==1.25.2
peft>=0.13.2
sentencepiece>=0.2.0
torch>=2.0.0,<=2.1.0
torchaudio>=2.1.0
transformers>=4.46.3
